<!DOCTYPE html>
<html>
  <head>
    <title>Web Scraping Website</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <header>
      <h1>Web Scraping Website</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li class="dropdown">
            <a href="" class="dropbtn">Tools</a>
            <div class="dropdown-content">
              <a href="platforms.html">scraping platforms</a><br />
              <a href="rscr.html">full scrape</a><br />
              <a href="">Tool3</a>
            </div>
          </li>
          <li><a href="about.html">About</a></li>
        </ul>
      </nav>
    </header>
    <div class="table_div">
      <br />
      <div class="first">
        <button class="button-64" role="button">
          <span class="text">
            <a href="download/products/{{ product }}">Download the file</a>
          </span>
        </button>
        <button class="button-85" role="button">
          <span class="text"><a href="exitp">Exit</a></span>
        </button>
      </div>
      {% set name = lines[0][6:].strip() %} {% set price = lines[1][7:].strip()
      %} {% set rating = lines[2][7:].strip() %} {% set sizes =
      lines[4][7:].strip() %} {% set disponibility = lines[3][15:].strip() %}
      <div class="product-paper">
        <div class="product-details">
          <div class="product-detail">
            <span class="label">Name:</span>
            <span class="value">{{ name }}</span>
          </div>
          <div class="product-detail">
            <span class="label">Price:</span>
            <span class="value">{{ price }}</span>
          </div>
          <div class="product-detail">
            <span class="label">Rating:</span>
            <span class="value">{{ rating }}</span>
          </div>
          <div class="product-detail">
            <span class="label">Sizes:</span>
            <span class="value">{{ sizes }}</span>
          </div>
          <div class="product-detail">
            <span class="label">Availability:</span>
            <span class="value">{{ disponibility }}</span>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <p>&copy; 2023 Your Website Name. All rights reserved.</p>
    </footer>
  </body>
</html>
